<!DOCTYPE html>
<html>
<head>
  <title>Importo</title>
  <%= stylesheet_link_tag    "importo/application", media: "all" %>
  <%= javascript_include_tag "importo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
